@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.btn {
  background: #9966ff;
  border-radius: 40px;
}

.line {
  width: 100%;
  height: 1px;
  background: #e9e9e9;
  opacity: 0.2;
}

.bg-gradient {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #9966ff 0%,
    rgba(14, 10, 15, 0) 70%
  );
  opacity: 0.1;
}

.bg-purple-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -300%,
    #9966ff -100%,
    #11101d 100%
  );
  z-index: 10;
}

.text-gradient {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background: linear-gradient(
    135.36deg,
    #d383fc 21.78%,
    #cb6afb 39.25%,
    rgba(203, 106, 251, 0.2) 86.85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.spanPrimary,
.spanSecondary,
.spangroup {
  position: absolute;
  top: 0;
  height: 10px;
}

.spanPrimary {
  width: 40px;
  left: 0px;
  background: #9966ff;
  border-radius: 12px;
}

.spanSecondary {
  width: 10px;
  left: 48px;

  background: #9966ff;
  border-radius: 9999px;
}

.bg-black-gradient {
  background: linear-gradient(1.5deg, #0e0a0f 1.28%, rgba(0, 0, 0, 0) 79.08%);
}

.businessPara {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #faf9fa;
}

.businessPara span {
  font-weight: 500;
  color: #9966ff;
}

.text-purple {
  color: #9966ff;
}

.circle-container a {
  position: absolute;
  top: -10px;
  z-index: 2;
}

.deg0 {
  transform: translate(32em);
} /* 12rem = half the width of the wrapper */
.deg30 {
  transform: rotate(30deg) translate(28rem) rotate(-30deg);
}
.deg60 {
  transform: rotate(60deg) translate(28rem) rotate(-60deg);
}
.deg90 {
  transform: rotate(90deg) translate(28rem) rotate(-90deg);
}
.deg180 {
  transform: translate(-32rem);
}
.deg120 {
  transform: rotate(120deg) translate(28rem) rotate(-120deg);
}
.deg150 {
  transform: rotate(150deg) translate(28rem) rotate(-150deg);
}

.values {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  letter-spacing: -0.96px;

  background: linear-gradient(
      93.75deg,
      rgba(255, 255, 255, 0) 36.54%,
      rgba(255, 255, 255, 0.5) 47.09%,
      rgba(255, 255, 255, 0) 56.65%
    ),
    linear-gradient(89.43deg, #f4d0ff 27.33%, #ba7dc5 47.55%, #dcdfff 66.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.keywords {
  margin: 0 1vw;
  padding: 0 1vw;
  background: linear-gradient(91.42deg, #f7e16e 41.23%, #f2cd0d 100%);
  border-radius: 9999px;
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  font-size: 3vw;
  display: flex;
  align-items: center;
  letter-spacing: -0.96px;
  color: #0e0a0f;
}

@media (max-width: 768px) {
  .values,
  .keywords {
    font-size: 6vw;
  }
}

/* 
.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
} */

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
